body {
  font-family: 'EB Garamond', serif;
}

.site {
  max-width:600px;
  margin:0 auto;
}

img {
  max-width:100%;
  margin: 0 auto;
}

div.header, a.sigil {
  display:block;
  text-align:center;
}


h1, h2 {
  text-align:center;
}

h2 {
  margin-top:1.5em;
}

h3 {
  margin-top:2em;
}

hr {
  margin:2em 0;
}

footer {
  text-align:center;
  font-size:.8em;
  margin-bottom:4em;
}